@using System.Security.Claims

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Authentication with Identity</h2>
<hr />

@Html.ActionLink("Item", "Index", "Item") <br>
@Html.ActionLink("Roles", "Index", "Role")
